<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Project</title>
</head>

<body>
    <h1>
        Welcome to my face recognition project.
    </h1>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_table}}
        <input type="Submit" value="Upload" name="Submit_Image">
    </form>


    {% if upload %}
    <div>
        <br><br><br><br><br>
        <table style="text-align: center; border-style: dotted;">
            <tr>
                <td>Face Detection score</td>
                {% for detect_score in result.face_detect_score %}
                <td>{{ detect_score }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Name</td>
                {% for name in result.face_name %}
                <td>{{ name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Face name score</td>
                {% for name_score in result.face_name_score %}
                <td>{{ name_score }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Emotion</td>
                {% for emotion in result.emotion_name %}
                <td>{{ emotion }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Emotion Score</td>
                {% for emotion_score in result.emotion_name_score %}
                <td>{{ emotion_score }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    {% endif %}

</body>

</html>